.wa-theme-light {
	@bgColor: #FFFFFF;
	@bgColorAlt: #E1E1E1;
	@hoverColor: #D3D3D3;
	@outlineColor: #CCCCCC;
	@outlineColorAlt: #333333;
	@utilColor: #2196F3;
	@errorColor: #B71C1C;
	@primaryColor: #DE584C; //Red
	@secondaryColor: #28609B; //Blue

	.wa-theme-base();

}





.wa-theme-dark {

}






.wa-theme-base() {
	background-color: @bgColor;





	/* Icon styles */
	.fa-pulse {
		color: @utilColor;
	}

	.fa-exclamation-triangle {
		color: @errorColor;
	}




	/* Page component styles */

	.wa-header {
		border-bottom: 1px solid @outlineColorAlt;
	}



	.wa-stats {

		td, th {
			border: 1px solid @outlineColor;
		}

		thead th {
			border-top-width: 0;

			&:last-child {
				border-right-width: 0;
			}
		}

		th:first-child {
			border-left-width: 0;
		}

		td:last-child {
			border-right-width: 0;
		}

		.wa-city-search {
			border: 1px solid @outlineColorAlt;

			input {
				background-color: @bgColor;
			}

			.wa-search-suggestions {

				.wa-suggestions-elem {

					&:hover {
						background-color: @hoverColor;
					}
				}

			}

		}

	}



	.wa-charts {

	}


	.wa-tooltip {
		border-color: @outlineColor;
		background-color: @bgColorAlt;
	}








}