#weatherapp {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-size: 13px;
	line-height: 1.6;
	margin: 0;


	.wa-icon-container {
		display: inline-block;
		min-width: 1.7rem;
	}

	.wa-header{
		padding: 1rem;

		.wa-title {
			display: inline-block;
			margin: 0;
		}

		.wa-settings {
			margin-top: 0.45rem;
			float: right;
			display: none;
		}
	}



	.wa-controls {
			padding: 0 0 1rem 0;
			text-align: right;
	}


	.wa-stats {
		display: block;
		margin: 0 auto;
		vertical-align: top;
		padding: 1rem;

		.wa-stats-table {
			margin: 0 auto;
			width: 41rem;

			th,td {
				padding: 0.5rem;
				box-sizing: border-box;
			}

			td {
				text-align: center;
			}

			tbody.is-visible, thead tr {
				display: block;
			}

			thead th {
				width: 17rem;

				&:first-child {
					width: 7rem;
				}
			}

			tbody {
				display: none;
				max-height: 20rem;
				overflow-y: auto;
				overflow-x: hidden;

				td {
					width: 17rem;
				}

				th {
					width: 7rem;
				}
			}

			.wa-current-table {

				.wa-current-icon {
					font-size: 3rem;
					vertical-align: middle;
					margin-right: 2rem;
				}

			}

			.wa-forecast-card {

				.wa-card-icon {
					display: block;
					float: left;
					font-size: 4rem;
					margin: 0.5rem 1rem;
					width: 1em;
				}

				.temp-max {
					color: red;
				}

				.temp-min {
					color: blue;
				}

			}
		}

		.wa-city-search {
			position: relative;
			display: inline-block;

			input {
				padding: 0.5rem;
				border: none;
			}

			.wa-icon-container {

				.is-inactive {
						display: none;
				}
			}

			.wa-search-suggestions {
				position: absolute;
				border: 1px solid #CCCCCC;
				background-color: #f7f7f7;
				margin: 0;
				list-style: none;
				padding: 0;
				text-align: left;
				box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);


				&.is-closed {
					display: none;
				}

				.wa-suggestions-elem {
					padding: 0.25rem;
					cursor: pointer;
				}

			}

		}

	}

	.wa-charts {
		min-height: 20rem;
		vertical-align: top;
		padding: 1rem;
		margin: 0 auto;
	}








	.wa-footer {
		padding: 0.25rem;
	}






} 